.vheight-100{
  min-height: 100vh;
}
.circle{
  color:#0d6efd;
  background-color:transparent;
  width: 64px;
  height: 64px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
  
  position: 'absolute';
  top: '100%';
  transform: 'translate(-10%, -100%)';
}
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  
  position: 'absolute';
  top: '100%';
  transform: 'translate(-10%, -100%)';
}
.login-title{
  font-family: cursive;
  text-align: center;
  font-size: 50px;
}
.backdrop{
  background: #FAFAFA;
}

.login-button{
  text-align: center;
  align-content: center;
  justify-content: center;
  position: relative;
  margin-bottom: 5px;
}

.navColor{
  background-color: black;  
  position: fixed !important;
  width: 100%;
}

.login{
  border: 3px solid #66cbff !important;
  border-radius: 30px 30px 30px 30px !important;
}

.listMeme{
  border-bottom: 1px solid orange;
  border-left: 1px solid orange;
  border-right: 1px solid orange;
  padding: 10px;
}
.memeList{
  border: 1px solid orange;
  padding: 10px;
}

.cardLogged{
  width: auto !important;
  padding: 1em !important;
}

.fontMemeTitle{
  font-family: Arial;
  font-size: 30px;
}

.modalEdit{
  background-color: dodgerblue !important;
}

.textBorder{
  border-bottom: 1px solid dodgerblue;
  padding: 10px;
}

.shadowWhite{
  text-shadow: 1px 1px 1px black, 0 0 0.2em black, 0 0 0.2em black;
}

.shadowRed{
  text-shadow: 1px 1px 1px yellow, 0 0 0.2em yellow, 0 0 0.2em yellow;
}

.shadowBlack{
  text-shadow: 1px 1px 1px white, 0 0 0.2em white, 0 0 0.2em white;
}

.shadowBlue{
  text-shadow: 1px 1px 1px white, 0 0 0.2em white, 0 0 0.2em white;
}

.bg{
  /*background-image: url("./bg/bg.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover  !important;
  background-position: center  !important;
  background-attachment: fixed; */
}

.bg2{
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255, 0.95) !important;
}

.list-bg{
  background-color: rgba(255,255,255, 0.95) !important;
}

.animation{
  -webkit-animation-duration: 4.5s;
  animation-duration: 4.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.loginAnimation{
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes loginFadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes loginFadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.loginFadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.navSettings{
  left: 25%;
  border-radius: 20px 20px 0px 0px;
  border: 2px solid black;
  background-color: #66cbff;
}

.logo{
  width: 7%;
  height: 7%;
  margin-right: 2%;
  margin-top: -1.3%;
}

.logoLogged{
  margin-left: auto;
  display: block;
}

.add{
  position: absolute;
  top: 100%;
  transform: translate(-10%, -100%);
}

.modal-window {
  animation: fadeIn linear 1.2s;
  -webkit-animation: fadeIn linear 1.2s;
  -moz-animation: fadeIn linear 1.2s;
  -o-animation: fadeIn linear 1.2s;
  -ms-animation: fadeIn linear 1.2s;
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}